.cardapio{
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardapio > h2{
    font-size: 2.5em;
    margin: 20px 0px;
    color: red;
    text-transform: uppercase;
}

.cardapio .btns{
    width: 80%;
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.btns button{
    width: 33.33%;
    height: 50px;
    border: none;
    background: none;
    font-size: 1.5em;
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background: #b8b8b8;
}

.cardapio .selectors{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectors .pratosPrincipais, .bebidas, .outros{
    padding-left: 10px;
    padding-top: 20px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.item{
    width: 680px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: .2s;
    margin-bottom: 1em;
}

.item:hover{
    transition: .2s;
    background: #d8d8d8;
}

.item .item-desc{
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.item-desc h3{
    font-size: 2em;
    color: red;
    font-weight: 600;
    padding: 0px 0px;
}

.item-desc p{
    font-size: 1.2em;
    max-width: 400px;
}

.item .item-image img{
    border-radius: 10px;
}

.item-bebidas{
    display: flex;
    padding: 10px;
    gap: 1em;
}

.item-desc-bebidas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 9px;
}

.item-desc-bebidas h3{
    font-size: 2em;
    color: red;
    font-weight: 600;
}

.item-image-bebidas img{
    border-radius: 10px;
}